html{
    background-image: url(media/soccer-field-background-1500-x-918-taf6j6rbhytcqt64.jpeg);
background-size: cover;
background-repeat: no-repeat;
width: 100 vw;
}
body
*{
    padding: 0;
    margin: 20;
    box-sizing: border-box;
    font-size: 62.5%;
    
}
    
   

h2{
    text-align: center;
    font-size: medium;
}
    

h1{
    font-size: xx-large;
    text-align: center;
    padding: 50;
    color: red;
    
}
.parent {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
   
    
    

}
    
.image {
    width: 100%;
    border: 3px solid black;
    


}
.child-1{
    align-items: center;
    width: 30vw;
    height: 30vw;
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    
    
}
.image3{
    width: 100%;
    border: 3px solid black;
    height: 450;
}

.image2{
    width: 100%;
    border: 3px solid black;
    height: 450;
}

    