html,
body,
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
h1{
    font-size: xx-large;
    text-align: center;
    padding: 50;
}
.parent {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
   
    
    

}
    
.image {
    width: 100%;
    border: 3px solid black;
    


}
.child-1{
    align-items: center;
    width: 30vw;
    height: 30vw;
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    
    

}
