html {
  background-image: url(media/soccer-field-background-1500-x-918-taf6j6rbhytcqt64.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100 vw;
  font-family: "Oswald", sans-serif;
}

html,
body,
* {
  padding: 40px;
  margin: 10;
  box-sizing: border-box;
  font-size: 62.5%;
}
.container {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 600px;
}
h1 {
  font-size: xx-large;
  text-align: center;
  padding: 10;
  color: white;
  animation: test 4s;
  position: relative;
  transition: background-color 0.5s;
}
.child {
  width: 24%;
  height: 40vh;
  text-align: justify;
  box-shadow: 5px 10px;
}
.child-1 {
  border: 3px solid green;
  background-color: white;
}
.child-2 {
  border: 3px solid yellow;
  background-color: white;
}
.child-3 {
  border: 3px solid red;
  background-color: white;
}
.child-4 {
  border: 3px solid blue;
  background-color: white;
}
.child-5 {
  border: 3px solid green;
  background-color: white;
}
.child-6 {
  border: 3px solid yellow;
  background-color: white;
}
.child-7 {
  border: 3px solid red;
  background-color: white;
}
.child-8 {
  border: 3px solid blue;
  background-color: white;
}

.child-9 {
  border: 3px solid green;
  background-color: white;
}
.child-10 {
  border: 3px solid yellow;
  background-color: white;
}
.child-11 {
  border: 3px solid red;
  background-color: white;
}
.child-12 {
  border: 3px solid blue;
  background-color: white;
}

.image1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: 3px solid black;
  height: 100%;
  align-items: center;
  height: 75%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline-offset: 1rem;
  
}
.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: 3px solid black;
  height: 100%;
  align-items: center;
  height: 75%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline-offset: 1rem;
  
}

h2 {
  font-size: small;
  text-align: center;
  color: black;
  transition: background-color 0.5s;
}
.image1:hover{
  transform: scale(1.1);
  outline: 1rem solid #222;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.container:hover .image1:not(:hover){
  transform: scale(0.8);
  opacity: 0.3;
}
.container:hover .image2:not(:hover){
  transform: scale(0.8);
  opacity: 0.3;
}
@keyframes test{
  0%{

background-color: blue;
  }
  10%{
    
    background-color: red;
  
  }
  20%{
    
    background-color: green;
  }
  30%{
    
    background-color: yellow;
  }
  40%{
    background-color: fuchsia;
  }
}
h2:hover {
  background-color: gold;
  
}
h1:hover {
  background-color: darkgoldenrod;
}
@keyframes shake {
  0% { transform: translate(5px, 5px) rotate(0deg); }
  10% { transform: translate(-5px, -10px) rotate(-1deg); }
  20% { transform: translate(-5px, 0px) rotate(1deg); }
  30% { transform: translate(5px, 3px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.image2:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}