html {
  background-image: url(media/soccer-field-background-1500-x-918-taf6j6rbhytcqt64.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100 vw;
  font-family: "Oswald", sans-serif;
}


html,body {
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

header{
  
  font-size: xx-large;
  text-align: center;
  padding: 10;
  color: blue;
  animation: test 4s;
  position: relative;
  padding: 0;
  animation-iteration-count: infinite;
}

.container{
 
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  justify-content:space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 8vh;
  padding: 10% 0;
}

.card-body{
  border: 3px solid green;
  background-color: white;
  display: flex;
  height: 20%;
  width: 20%;
  flex-direction: column;
  margin-top: auto;
  align-items: center;
  justify-content: space-around;
  box-shadow: 5px 10px;
  margin-bottom: 20px;

  padding: 5% 0;
  text-align: center;
  font-size: medium;

  

}
.image2{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 3px solid black;
    height: 100%;
    align-items: center;
    height: 40%;
   
    
    
}
.image1{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 3px solid black;
    height: 100%;
    align-items: center;
    height: 40%;
    transition: transform .7s ease-in-out;
    
   
    
    
}
@media screen and (max-width: 800px) {
  .card-body{
    width: 100%;
  }
}
  
@keyframes test{
  0%{

background-color: blue;
  }
  10%{
    
    background-color: red;
  
  }
  20%{
    
    background-color: green;
  }
  30%{
    
    background-color: yellow;
  }
  40%{
    background-color: fuchsia;
  }
}
.card-body:hover{
  transform: scale(1.1);
  outline: 1rem solid goldenrod;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(5px, 5px) rotate(0deg); }
  10% { transform: translate(-5px, -10px) rotate(-1deg); }
  20% { transform: translate(-5px, 0px) rotate(1deg); }
  30% { transform: translate(5px, 3px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.image2:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
h2:hover {
  background-color: gold;
  
}
.image1:hover {
  transform: rotate(360deg);
}